[submodule "vim/bundle/vim-python-combined"]
	path = vim/bundle/vim-python-combined
	url = https://github.com/mitsuhiko/vim-python-combined
[submodule "vim/bundle/fruity-vim-colorscheme"]
	path = vim/bundle/fruity-vim-colorscheme
	url = https://github.com/mitsuhiko/fruity-vim-colorscheme
[submodule "vim/bundle/jinja"]
	path = vim/bundle/jinja
	url = https://github.com/mitsuhiko/vim-jinja
[submodule "vim/bundle/javascript"]
	path = vim/bundle/javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "vim/bundle/html5"]
	path = vim/bundle/html5
	url = https://github.com/othree/html5.vim
[submodule "vim/bundle/css"]
	path = vim/bundle/css
	url = https://github.com/JulesWang/css.vim
[submodule "vim/bundle/rust"]
	path = vim/bundle/rust
	url = https://github.com/rust-lang/rust.vim.git
